@model SportsStore.Web.Models.Domain.Product

<div class="card mt-3">
    <div class="card-content">
        @if (Model.ImageData != null)
        {
            <div class="pull-left" style="margin-right: 10px">
                <img class="img-thumbnail" width="75" height="75"
                     src="@Url.Action("GetImage", "Product",
                new { Model.ProductID })" />
            </div>
        }

    <header class="is-flex is-justify-content-space-between is-align-items-center mb-3">
        <h4>@Model.Name</h4>

        <span class="tag is-info">
           @Model.Price.ToString("c")
        </span>
    </header>
    <div class="is-flex is-justify-content-space-between is-align-items-center">
        @Model.Description
        <form id="@Model.ProductID" asp-page="/Cart" method="post">
            <input type="hidden" asp-for="ProductID" />
            <input type="hidden" name="returnUrl"
                   value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <button type="submit" class="button is-success">Add To Cart</button>
        </form>

    </div>
    </div>
</div>