@model SportsStore.Web.Models.Domain.Product

<div class="card m-1">
    <div class="card-body">
        @if (Model.ImageData != null)
        {
            <div class="pull-left" style="margin-right: 10px">
                <img class="img-thumbnail" width="75" height="75"
                     src="@Url.Action("GetImage", "Product",
                new { Model.ProductID })" />
            </div>
        }

    <header class="d-flex justify-content-between align-items-center">
        <h4 class="card-title">@Model.Name</h4>

        <span class="badge bg-primary">
           @Model.Price.ToString("c")
        </span>
    </header>
    <div class="card-text d-flex justify-content-between align-items-center">
        @Model.Description
        <form id="@Model.ProductID" asp-controller="Cart" asp-action="AddToCart" method="post">
            <input type="hidden" asp-for="ProductID" />
            <input type="hidden" name="returnUrl"
                   value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <button type="submit" class="btn btn-sm btn-success">Add To Cart</button>
        </form>

    </div>
    </div>
</div>