@model SportsStore.WebUI.Models.Domain.Order
@{
    ViewBag.Title = "SportStore: Checkout";
}

<h2>Check out now</h2>
<p>Please enter your details, and we'll ship your goods right away!</p>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <h3>Ship to</h3>
    <div>
        <label>Name:</label>
        @Html.TextBoxFor(x => x.Name)
    </div>

    <h3>Address</h3>

    <div>
        <label>Line 1:</label>
        @Html.TextBoxFor(x => x.Line1)
    </div>
    <div>
        <label>Line 2:</label>
        @Html.TextBoxFor(x => x.Line2)
    </div>
    <div>
        <label>Line 3:</label>
        @Html.TextBoxFor(x => x.Line3)
    </div>
    <div>
        <label>City:</label>
        @Html.TextBoxFor(x => x.City)
    </div>
    <div>
        <label>State:</label>
        @Html.TextBoxFor(x => x.State)
    </div>
    <div>
        <label>Zip:</label>
        @Html.TextBoxFor(x => x.Zip)
    </div>
    <div>
        <label>Country:</label>
        @Html.TextBoxFor(x => x.Country)
    </div>

    <h3>Options</h3>
    <div class="checkbox">
        <label>
            @Html.EditorFor(x => x.GiftWrap)
            Gift wrap these items
        </label>
    </div>

    <div class="actionButtons">
        <input type="submit" value="Complete order" />
    </div>
}
